*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit; // to get parent color
}

body{
    font-family: "Lato", sans-serif;
    overflow: hidden; //
}